html,
body,
#content {
  height: 100%;
  margin: 0;
}

body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

#content {
  background-image: url("bergen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 500;
  line-height: 1.1;
  font-size: 2.5rem;
}

a {
  color: black;
  font-weight: 500;
  line-height: 1.1;
  font-size: 2.5rem;
  text-decoration: none;
}

h1,
a {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#depressing_info {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#depressing_info.ready {
  opacity: 0.7;
}
